<div fxLayoutAlign="center center">
  <mat-nav-list>
    <h2 fxLayoutAlign="center center">Inmueble</h2>
    <mat-icon>attach_money</mat-icon>
    <div fxLayout="column">
      <a mat-list-item routerLink="/inmueble">
        <span>Mostrar</span>
      </a>
    </div>
  </mat-nav-list>
  <mat-nav-list>
    <h2 fxLayoutAlign="center center">Cliente</h2>
    <mat-icon>settings_accessibility</mat-icon>
    <div fxLayout="column">
      <a mat-list-item routerLink="/cliente">
        <span>Mostrar</span>
      </a>
    </div>
  </mat-nav-list>
  <mat-nav-list>
    <h2 fxLayoutAlign="center center">Vendedor</h2>
    <mat-icon>book</mat-icon>
    <div fxLayout="column">
      <a mat-list-item routerLink="/vendedor">
        <span>Mostrar</span>
      </a>

    </div>
  </mat-nav-list>
</div>
